:root
{
    --blue: RGBA(0,45,91,255);
    --yellow: RGBA(254,189,54,255);
    --lightblue: RGB(116,140,164);
    background-color:var(--lightblue)
}
body
{
background-color: var(--lightblue);
text-align: center;
}
*
{
    color: var(--blue);
    text-align: center;
}
h1
{
    font-size: calc(15pt + 4vw);
}
nav
{
    border: 5px var(--blue) double;
}
section
{
    border: 5px var(--blue) solid;
    margin: 5px;
    margin-top: 50px;
}
.date
{
    color: var(--yellow);
}
ul
{
    list-style: none;
    padding-left: 0px;
}
